
.container{
    background-color:aqua;
    display: flex;
    height: 100vh;
    justify-content:end;
    align-items: center;
}
.container div{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border:2px solid black;

}
.container .two{
    flex-shrink: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    height: 80px;
    padding: 10px;
}
.left{
    display: flex;
    width: 450px;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
.middle{
    display: flex;
    justify-content: start;
    background-color: black;
    color: white;
}
.top{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: start;
    margin-left: 500px;
    
}
.greybox{
    display: flex;
    background-color: grey;
    width: 300px;
    border: 1px solid rgb(10, 10, 10);
    color:white;
    display: flex;
    justify-content: center; 
    align-items: center;      
    height: 200px;     
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 300px;
}
.button{
    background-color: cornflowerblue;
    border-radius: 7px;
}
.button:hover{
    background-color: rgb(234, 234, 234);
}